body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #fafafa;
}

p {
    font-family: Arial, sans-serif;
  text-align: center;  
  color: #003366;
}

h1, h2, h3 {
    color: #003366;
  }