html, body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #33280d;
}

img {
  max-width: 100%;
  height: auto;
}

p {
    color: #a08d61;
    font-family: Arial, Helvetica, sans-serif;
  }

h1, h2, h3 {
    color: #a08d61;
  }

footer a:link,
footer a:visited {
  color: white;
}

footer a:hover,
footer a:active {
  color: yellow;
}

.nav-link:link,
.nav-link:visited {
  color: navy;
}

.nav-link:hover,
.nav-link:active {
  color: orange;
}

a:link { color: maroon; }
a:visited { color: dimgray; }
a:hover { color: red; }
a:active { color: darkred; }

#bio{
  color: #a08d61; 
}

.highlight {
  background-color: #291902;
  color: #a08d61
  ;
}